node_modules
.mcp.json

# Cypress
apps/web/cypress/videos
apps/web/cypress/screenshots
apps/web/cypress/snapshots/diff
apps/web/cypress/snapshots/base/*.png
apps/web/cypress/downloads

# Testing
coverage
.nyc_output
test-resultsapps/api/prisma/dev.db
